{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    // "plugin:import/recommended",
    "plugin:import/typescript",
    "airbnb-base",
    "prettier",
    "@vue/prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true,
      "alias": {
        "map": [["@", "./src"]]
      }
    }
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "prettier/prettier": ["error"],
    "vue/multi-word-component-names": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
